// 배경 스타일
// --------
@background-color: #ECF0F1;
@beat-color: rgba(52, 73, 94, 1.0);
@melody-color: rgba(142, 68, 173, 1.0);
@chorus-color: rgba(39, 174, 96, 1.0);
@effect-color: rgba(211, 84, 0, 1.0);

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: @background-color;
  font-family: "Bauhaus 93"
}


// 포인터 스타일
// ---------
.pointer {
  @outer-size: 100px;
  @outer-border-width: 1px;
  @outer-border-color: #2980b9;

  @inner-size: 75px;
  @inner-border-color: #3498db;

  position: absolute;
  left: (@outer-size / 2 * -1);
  top: (@outer-size / 2 * -1);

  .glow {
    position: relative;
    left: 0;
    top: 0;
    width: @outer-size;
    height: @outer-size;
    border: @outer-border-width solid @outer-border-color;
    border-radius: (@outer-size / 2);
    box-sizing: border-box;
    -webkit-animation: glow 0.7s ease-in-out infinite alternate;

    opacity: 1;
    transition-property: opacity, top;
    transition-duration: 1s, 1s;
    transition-delay: 0s, 0s;
    transition-timing-function: ease-in, ease-in-out;
  }

  .glow.selected {
    background-color: rgba(41, 128, 185, 0.4);
  }

  .glow.hide {
    opacity: 0;
    top: 100px;
  }

  .glow::after {
    position: absolute;
    top: ((@outer-size - @inner-size) / 2 - @outer-border-width);
    left: ((@outer-size - @inner-size) / 2 - @outer-border-width);
    content: "";
    width: @inner-size;
    height: @inner-size;
    border: 1px solid @inner-border-color;
    border-radius: (@inner-size / 2);
    box-sizing: border-box;
    box-shadow:
      0px 0px 6px 4px fade(@inner-border-color, 30%),
      inset 0 0 3px darken(@inner-border-color, 40%);
  }

  @-webkit-keyframes glow {
    from {
      box-shadow:
        0px 0px 12px 6px fade(@outer-border-color, 20%),
        inset 0 0 5px darken(@outer-border-color, 10%);
    }
    to {
      box-shadow:
        0px 0px 12px 6px fade(@outer-border-color, 40%),
        inset 0 0 5px darken(@outer-border-color, 40%);
    }
  }

  @-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }

  @-webkit-keyframes hide {
    from { opacity: 1 }
    to { opacity: 0; display: none; }  
  }

  @-webkit-keyframes show {
    from { opacity: 0; display: block; }
    to { opacity: 1 }
  }
}

// 사운드 박스
// --------
.sound-box {
  @width: 150px;
  @height: 150px;

  width: @width;
  height: @height;
  position: relative;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid rgba(127, 140, 141, 1.0);

  img {
    display: block;
    width: 120px;
    height: 120px;
    margin: ((@width - 120) / 2);
    border: 1px solid rgba(189, 195, 199, 1.0);
    border-radius: 60px;
    background: #fff;
  }
}
.sound-box.selected {
  box-shadow:
    0px 0px 20px 15px fade(#fff, 50%),
    inset 0 0 8px 4px #fff;
}
.sound-box.beat {
  background: @beat-color !important;
}
.sound-box.melody {
  background: @melody-color !important;
}
.sound-box.chorus {
  background: @chorus-color !important;
}
.sound-box.effect {
  background: @effect-color !important;
}

// 큐브
// ---
#cube-wrap {
  @width: 260px;
  @half-width: (@width / 2);
  @height: 650px;

  position: absolute;
  left: 80px;
  top: 50px; 
  -webkit-perspective: none;
  -webkit-perspective-origin: 0 0;

  text-align: center;
  font-size: 40px;
  text-shadow: 3px 3px 3px #aaa;

  .cube {
    position: relative;
    width: @width;
    height: @height;

    -webkit-transform-style: preserve-3d;

    transition-property: rotateY;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

    .title {
      font-size: 35px;
      margin: 10px;
    }

    .panel {
      position: absolute;
      width: @width;
      height: 100%;
      border-radius: 
      background: #eee;
    }

    .beat {
      color: darken(@beat-color, 20%);
      background: tint(@beat-color, 60%);
    }

    .chorus {
      color: darken(@chorus-color, 20%);
      background: tint(@chorus-color, 60%);
    }

    .melody {
      color: darken(@melody-color, 20%);
      background: tint(@melody-color, 60%);
    }

    .effect {
      color: darken(@effect-color, 20%);
      background: tint(@effect-color, 60%);
    }
  }

  .back {
    -webkit-transform: translateZ((@half-width * -1)) rotateY(180deg);
  }
  .right {
    -webkit-transform: rotateY(-270deg) translateX(@half-width);
    -webkit-transform-origin: top right;
  }
  .left {
    -webkit-transform: rotateY(270deg) translateX((@half-width * -1));
    -webkit-transform-origin: center left;
  }
  .top {
    -webkit-transform: rotateX(-90deg) translateY((@half-width * -1));
    -webkit-transform-origin: top center;
  }
  .bottom {
    -webkit-transform: rotateX(90deg) translateY(@half-width);
    -webkit-transform-origin: bottom center;
  }
  .front {
    -webkit-transform: translateZ(@half-width);
  }
}

// 플레이 스탠드
// ----------
#playstand-wrap {
  @width: 800px;
  @height: 650px;
  @bgcolor: #95a5a6;

  position: absolute;
  right: 80px;
  top: 50px;
  width: @width;
  height: @height;
  background: @bgcolor;
  text-align: center;

  .title {
    margin: 10px;
    font-size: 50px;
    color: #2c3e50;
  }

  .playstand {


  }
}